@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

body {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
}

.loading {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
}

.todo-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.todo-title {
  margin: 0 0 75px 0;
  font-size: 120px;
  font-weight: 100;
  color: #d46d7a;
}

.todo-content {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  max-width: 500px;
}

.todo-input {
  padding: 10px 0 10px 8px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 200;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #c5c5c5;
}

.todo-list {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #c5c5c5;
}

.todo-list-item {
  display: flex;
  padding: 15px 15px 15px 12px;
  font-size: 28px;
  border-bottom: 1px solid #d0d0d0;
}

.todo-list-item__span {
  flex: 1 0 auto;
}

.todo-footer {
  font-size: 16px;
  color: #b0b0b0;
}

// Styles for todo remove button. Implementing it is an exercice :)

.todo-list-item__remove-button {
    padding: 5px 10px;
    border: none;
    background-color: #cc3333;
    color: white;
    outline: none;
    cursor: pointer;
}

.todo-list-item__remove-button:hover {
    background-color: darken(#cc3333, 5%);
}
